body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  // background: url("../img/promo_back_girl.png") no-repeat 100% 141px,
  //   url("../img/circle.svg") no-repeat 80% -55px;
  position: relative;
}


// @media (min-width: 470px) {
//   body {
//     background: url("../img/promo_back_girl.png") no-repeat 100% 141px,
//       url("../img/circle.svg") no-repeat -66px -55px;
//   }
// }

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  @include second-font (18px, 500, 14.23px, rgba(0, 0, 0, 0.87));
  margin: 0;
  margin-left: 25px;
  letter-spacing: -0.5px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 1px;
    background: #000000;
    left: -26px;
    top: 7px;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  @include main-font (14px, 500, 18px, #ffffff);
  letter-spacing: -0.3px;
  text-align: center;
  border-radius: 35px;
  border: 2px solid #ffffff;
  padding: 5px 24px;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  z-index: 5;
  display: none;

  &--show {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .wrapper {
    max-width: none;
    width: 764px;
    padding-left: 62px;
    padding-right: 61px;
    // min-width: 764px;
  }
}
