body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  // background: gray;
  background: url("../img/circle.svg") no-repeat -180px -55px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
