.button {
  @include main-font (11px, 500, normal, #ffffff);
  display: inline-block;
  letter-spacing: 0.005px;
  text-align: center;
  border-radius: 35px;
  border: 2px solid #ffffff;
  text-decoration: none;
  padding: 12px 14px;
}
