.main-nav {
  display: none;
  min-height: 481px;
  width: 100%;
  background: #91aa59;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 78px;
}

.main-nav__wrapper {
  position: relative;
}

.main-nav__close-button {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 30px;
  top: -47px;
  cursor: pointer;
}

.main-nav__list {
  @include listreset;
}

.main-nav__item {
  margin-left: 53px;
  margin-bottom: 28px;
}

.main-nav__link {
  @include second-font (18px, 700, 43.73px, #ffffff);
  position: relative;
  letter-spacing: -0.6px;


  &:hover::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    top: 8px;
    border-radius: 50%;
    left: -20px;
    background: #ffffff;
  }
}
