.footer {
  background: #91aa59;
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.footer__logo {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__logo-image {
  width: 44px;
  height: 27px;
  margin-bottom: 1px;
  margin-left: 2px;
}


.footer__logo-text {
  @include main-font (7px, 300, 13.12px, #fefefe);
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.footer__social-list {
  @include listreset;
  display: inline-flex;
  justify-content: space-between;
  width: 75px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.social-list__link {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;

  & path {
    fill: #f1f4e9;
  }
}

.footer__copyright {
  @include main-font (10px, 300, 20px, #fefefe);
  width: 120px;
  margin: 0 auto;
  position: relative;
  letter-spacing: 1.2px;
  margin-bottom: 8px;


  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: url("../img/copyright.png") 50% no-repeat;
    right: 0;
    top: 3px;
  }
}
