.popup {
  width: 290px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  margin-top: -120px;
  left: 50%;
  margin-left: -145px;
  background: #ffffff;
  box-shadow: 0 9px 23px 9px rgba(27, 27, 27, 0.2);
  border-radius: 4px;
  display: none;

  &--show {
    display: block;
    z-index: 10;
  }
}

.popup__close {
  border: none;
  width: 16px;
  height: 16px;
  background: green;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  right: 45px;
  top: 30px;
}


.popup__title {
  font-family: "Proxima Nova", sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__input {
  @include main-font (14px, 300, 13.12px, #111111);
  border: none;
  border-bottom: 2px solid #111111;
  width: 171px;
}

.popup__consent-block {
  @include main-font (14px, 300, 19.78px, #111111);
  width: 207px;
  position: relative;
  margin-left: 50px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 22px;
    border: none;
    background-color: #91aa59;
    left: -20px;
    top: 0;
  }
}

.popup__input[type="checkbox"]:checked + .popup__consent-block::before {
  background-image: url("../img/popup_consent_button.svg");
}

.popup__send-button {
  width: 171px;
  background-color: #91aa59;
}
