.popup {
  width: 290px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  // margin-top: -232px;
  left: 50%;
  margin-left: -145px;
  background: #ffffff;
  box-shadow: 0 9px 23px 9px rgba(27, 27, 27, 0.2);
  border-radius: 4px;
  padding-top: 85px;
  display: none;

  &--show {
    display: block;
    z-index: 10;
  }
}

.popup__close {
  border: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  background-image: url("../img/popup_close_button.svg");
  font-size: 0;
  cursor: pointer;
  position: absolute;
  right: 28px;
  top: 27px;
}


.popup__title {
  font-family: "Proxima Nova", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  width: 230px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 22px;
}

.popup__text {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.87);
  width: 250px;
  font-weight: 500;
  margin: 0 auto;
  letter-spacing: 0.7px;
  text-align: center;
  margin-bottom: 24px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__input {
  @include main-font (14px, 300, 13.12px, #111111);
  border: none;
  border-bottom: 2px solid #111111;
  width: 171px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 21px;
}

.popup__consent-block {
  @include main-font (14px, 300, 19.78px, #111111);
  width: 207px;
  position: relative;
  margin-left: 70px;
  margin-top: 8px;
  margin-bottom: 34px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 22px;
    border: none;
    background-color: #91aa59;
    left: -32px;
    top: 1px;
  }
}

.popup__input[type="checkbox"]:checked + .popup__consent-block::before {
  background-image: url("../img/popup_consent_button.svg");
}

.popup__send-button {
  width: 155px;
  background-color: #91aa59;
  letter-spacing: 0.8px;
  padding: 0;
  line-height: 35px;
  margin-bottom: 52px;
}
