.promo {
  // margin-top: -48px;
  padding-top: 91px;
  // box-shadow: 0 0 0 3px red;
  // background: url("../img/circle.svg") no-repeat -180px -55px;
  margin-bottom: 41px;
}

// .promo__wrapper {
//   box-shadow: 0 0 0 3px red;
// }

.promo__title {
  @include second-font (30px, 300, 35px, #ffffff);
  text-transform: uppercase;
  margin: 0;
  width: 170px;
  letter-spacing: 2.4px;
  margin-bottom: 21px;
}

.promo__text {
  display: none;
}

.promo__timetable {
  @include main-font (11px, 500, normal, #ffffff);
  display: inline-block;
  letter-spacing: 0.005px;
  text-align: center;
  border-radius: 35px;
  border: 2px solid #ffffff;
  text-decoration: none;
  padding: 12px 14px;
  margin-bottom: 215px;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 115px;
  }

  .promo__title {
    font-size: 48px;
    // box-shadow: 0 0 0 3px red;
    line-height: 58px;
    width: 270px;
    letter-spacing: 3px;
    margin-bottom: 43px;
  }

  .promo__text {
    @include main-font (18px, 300, normal, #ffffff);
    display: block;
    letter-spacing: -0.3px;
  }
}
