.promo {
  // margin-top: -50px;
  padding-top: 91px;
  // box-shadow: 0 0 0 3px red;
  // background: url("../img/circle.svg") no-repeat -180px -55px;
}

.promo__wrapper {
  width: 290px;
  margin: 0 auto;
  // box-shadow: 0 0 0 3px red;
}

h1 {
  @include second-font (30px, 300, 35px, #ffffff);
  text-transform: uppercase;
  margin: 0;
  width: 170px;
  letter-spacing: 2.4px;
  margin-bottom: 21px;
}

.promo__timetable {
  margin-bottom: 215px;
}
