.reviews {
  // min-height: 500px;
  // box-shadow: 0 0 0 3px red;
  margin-bottom: 67px;
}

.reviews__list {
  @include listreset;
  margin-bottom: 65px;
}

.review {
  width: 290px;
  padding-top: 72px;
  display: none;
}

.reviews__toggle:checked + .review {
  display: block;
}

.review__author-image {
  margin-left: 89px;
  display: block;
  margin-bottom: 16px;
}

.review__author-name {
  @include second-font (16px, 400, 18px, rgba(0, 0, 0, 0.87));
  display: block;
  margin-bottom: 9px;
  margin-left: 61px;
  letter-spacing: 0.2px;
}

.review__description {
  display: flex;
  margin-left: 78px;
  margin-bottom: 19px;
}

.review__author-age {
  @include second-font (14px, 400, 18px, rgba(0, 0, 0, 0.87));
  margin-right: 27px;
}

.social {
  @include listreset;
  display: flex;
}

.social__link {
  display: block;
  width: 15px;
  height: 15px;
  background: black;
  box-shadow: 0 0 0 3px green;
  margin-right: 20px;
}

.review__text {
  @include main-font (14px, 300, 17px, rgb(0, 0, 0));
  margin: 0 auto;
  text-align: center;
  width: 260px;
}

.paginator__list {
  @include listreset;
  display: flex;
  margin: 0 auto;
  width: 46px;
  justify-content: space-between;
}

.paginator__item {
  display: flex;
  align-items: center;
}

.paginator__button {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: block;
  background-color: #91aa59;
  opacity: 0.5;

  &--active {
    width: 8px;
    height: 8px;
    opacity: 1;
  }
}
